
/*Import fonts from fonts.css file*/
@import url(./fonts.css);

/*-----------------------SLIDER--------------------*/

#imagen_header {
    width: 100%;
    height: 400px;
    background: url(/Imagenes/bannerdeprueba.jpg) no-repeat center;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

.texto_header1{
    text-align: right;
    transform: translate(-320px,150px);
    font-family: 'Zeyada', cursive;
}

.texto_header2{
    text-align: right;
    transform: translate(-170px,120px);
    font-family: 'Zeyada', cursive;
}

/*-----------------------NAVBAR-------------------------*/
.navbar{
    background: linear-gradient(#2bb1e0,#26A9D6);
    box-shadow: 0 0 10px 1px #4b4c4d;
    font-family: 'Bree Serif', serif;
}
.navbar_scroll{
    color: #ecedef;
}

.navbar-brand{
    padding-top: 10px;
    padding-left: 20px;
}
.sebastian_dorsch{
    padding-top: 6px;
    color: #f5f9fa;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}


/*-----------------------PORTFOLIO----------------------*/

#portfolio{
    background-color: #ecedef;
    text-align: center;
    padding-top: 90px;
    font-family: 'Playfair Display', serif;
}

#formulario{
    background-color: #ecedef;
    padding-top: 50px;
}

.linea{
    border: 0; 
    height: 0; 
    box-shadow: 0px 0px 7px 2px #26A9D6;
}


/*-----------------------TECNOLOGÍAS----------------------*/
#tecnologias{
    background-color: #2bb1e0;
    text-align: center;
    color: white;
    padding-top: 90px;
    font-family: 'Playfair Display', serif;
}


/*-----------------------CONTACTO-------------------------*/
#contacto{
    background-color: #2bb1e0;
    padding-top: 55px;
    font-family: 'Playfair Display', serif;
}

.linea3{
    border: 0; 
    height: 0; 
    box-shadow: 0px 0px 7px 2px #26A9D6;
}


/*-----------------------FORMULARIO-------------------------*/
#contacto{
    font-family: 'Playfair Display', serif;
}


/*-----------------------FOOTER-------------------------*/

#footer{
    background: linear-gradient(#323333,#2a2b2b);
    height: auto;
    text-align: center;
}

#columna_copyright{
    text-align: center;
    color: #f5f9fa;
}

.sebadorsch{
    color: #f5f9fa;
    text-decoration: none;
    font-weight: 500;
}

.sebadorsch:hover{
    color: #2bb1e0;
    text-decoration: none;
    font-weight: 600;
}




